# gRPC
GRPC_HOST="localhost"
GRPC_PORT=50051

# Database
DATABASE_URI="postgresql://postgres:123456@localhost:5433/razom_pay_auth"

DATABASE_USER="postgres"
DATABASE_PASSWORD="123456"
DATABASE_HOST="localhost"
DATABASE_PORT=5433
DATABASE_NAME="razom_pay_auth"

# Redis
REDIS_USER="default"
REDIS_PASSWORD="123456"
REDIS_HOST="localhost"
REDIS_PORT=6379

# Passport
PASSPORT_SECRET_KEY="secret-key"
PASSPORT_ACCESS_TOKEN_TTL=900
PASSPORT_REFRESH_TOKEN_TTL=2592000

# Telegram

TELEGRAM_BOT_ID=''
TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME='razom_pay_bot'
TELEGRAM_REDIRECT_ORIGIN=''